#Enocean
KERNEL=="ttyUSB*",ATTRS{serial}=="FTUSGMSX",SYMLINK+="gb/Enocean"

#PlugWise
KERNEL=="ttyUSB*",ATTRS{serial}=="A5013Y2I",SYMLINK+="gb/PlugWise"


#USRs
KERNEL=="ttyUSB*",ATTRS{serial}=="A700evVy",SYMLINK+="gb/USR_MF782D01L"
KERNEL=="ttyUSB*",ATTRS{serial}=="A1009YUL",SYMLINK+="gb/USR_MF782D01R"
KERNEL=="ttyUSB*",ATTRS{serial}=="A1009YW1",SYMLINK+="gb/USR_MF782D02L"
KERNEL=="ttyUSB*",ATTRS{serial}=="A1009ZQR",SYMLINK+="gb/USR_MF782D02R"
KERNEL=="ttyUSB*",ATTRS{serial}=="A1009ZR3",SYMLINK+="gb/USR_MF782D03L"
KERNEL=="ttyUSB*",ATTRS{serial}=="A100A169",SYMLINK+="gb/USR_MF782D03R"
KERNEL=="ttyUSB*",ATTRS{serial}=="A100A163",SYMLINK+="gb/USR_MF782D04L"
KERNEL=="ttyUSB*",ATTRS{serial}=="A100A164",SYMLINK+="gb/USR_MF782D04R"
KERNEL=="ttyUSB*",ATTRS{serial}=="A100A16H",SYMLINK+="gb/USR_MF782D05L"
KERNEL=="ttyUSB*",ATTRS{serial}=="A100A16M",SYMLINK+="gb/USR_MF782D05R"
KERNEL=="ttyUSB*",ATTRS{serial}=="A100A17I",SYMLINK+="gb/USR_MF782D06L"
KERNEL=="ttyUSB*",ATTRS{serial}=="A700evSb",SYMLINK+="gb/USR_MF782D06R"
KERNEL=="ttyUSB*",ATTRS{serial}=="A700evW0",SYMLINK+="gb/USR_MF782D07L"
KERNEL=="ttyUSB*",ATTRS{serial}=="A700evWm",SYMLINK+="gb/USR_MF782D07R"
KERNEL=="ttyUSB*",ATTRS{serial}=="A1009YL5",SYMLINK+="gb/USR_MF782D08L"
KERNEL=="ttyUSB*",ATTRS{serial}=="A100A180",SYMLINK+="gb/USR_MF782D08R"
KERNEL=="ttyUSB*",ATTRS{serial}=="A1009YWD",SYMLINK+="gb/USR_MF782D09L"
KERNEL=="ttyUSB*",ATTRS{serial}=="A1009ZQT",SYMLINK+="gb/USR_MF782D09R"
KERNEL=="ttyUSB*",ATTRS{serial}=="A1009ZQY",SYMLINK+="gb/USR_MF782D10L"
KERNEL=="ttyUSB*",ATTRS{serial}=="A1009ZR6",SYMLINK+="gb/USR_MF782D10R"
KERNEL=="ttyUSB*",ATTRS{serial}=="A700evW9",SYMLINK+="gb/USR_MF782D11L"
KERNEL=="ttyUSB*",ATTRS{serial}=="A1009ZRF",SYMLINK+="gb/USR_MF782D11R"
KERNEL=="ttyUSB*",ATTRS{serial}=="A1009ZRM",SYMLINK+="gb/USR_MF782D12L"
KERNEL=="ttyUSB*",ATTRS{serial}=="A700evW5",SYMLINK+="gb/USR_MF782D12R"
