# Variable template
curl -X PUT http://localhost:7777/data/gbrepository/serviceinstance/serinst.lamp1_326 -d '{"serinstid":"serinst.lamp1_326"}' -H 'Content-Type:"application/json"'
curl -X PUT http://localhost:7777/data/gbrepository/serviceinstance/serinst.lamp1_326 -d '{"serinstname":"lamp.pt3.26.desk1"}' -H 'Content-Type:"application/json"'
curl -X PUT http://localhost:7777/data/gbrepository/serviceinstance/serinst.lamp1_326 -d '{"serinstservicetype":"lamp"}' -H 'Content-Type:"application/json"'
curl -X PUT http://localhost:7777/data/gbrepository/cellserviceinstancesin/pt3.26.desk1 -d '{"serinst.lamp1_326":"lamp.pt3.26.desk1"}' -H 'Content-Type:"application/json"'
curl -X PUT http://localhost:7777/data/gbrepository/serviceinstance/serinst.lamp1_326 -d '{"serinstoperations":[{"operation":{"name":"turn_off","parameters":[{"name":"switch","value":"false"}]}},{"operation":{"name":"turn_on","parameters":[{"name":"switch","value":"true"}]}}]}' -H 'Content-Type:"application/json"'
curl -X PUT http://localhost:7777/data/gbrepository/servicetypeinstances/lamp -d '{"serinst.lamp1_326":"lamp.pt3.26.desk1"}' -H 'Content-Type:"application/json"'
curl -X PUT http://localhost:7777/data/gbrepository/variables/lamp1_326 -d '{"varid":"lamp1_326"}' -H 'Content-Type:"application/json"'
curl -X PUT http://localhost:7777/data/gbrepository/variables/lamp1_326 -d '{"varname":"lamp1_326"}' -H 'Content-Type:"application/json"'
curl -X PUT http://localhost:7777/data/gbrepository/variables/lamp1_326 -d '{"controllable":"true"}' -H 'Content-Type:"application/json"'
curl -X PUT http://localhost:7777/data/gbrepository/variables/lamp1_326 -d '{"domainstates":{"states":[{"name":"false","cost":"0"},{"name":"true","cost":"8"}]}}' -H 'Content-Type:"application/json"'
curl -X PUT http://localhost:7777/data/gbrepository/variables/lamp1_326 -d '{"servicetype":"lamp"}' -H 'Content-Type:"application/json"'
curl -X PUT http://localhost:7777/data/gbrepository/variables/lamp1_326 -d '{"updatedvalue":"none"}' -H 'Content-Type:"application/json"'
curl -X PUT http://localhost:7777/data/gbrepository/variables/lamp1_326 -d '{"datatype":"boolean"}' -H 'Content-Type:"application/json"'
curl -X PUT http://localhost:7777/data/gbrepository/variables/lamp1_326 -d '{"routingkey":"potentiaal.floor3.floor.actuators.lamp.lamp1_326"}' -H 'Content-Type:"application/json"'
curl -X PUT http://localhost:7777/data/gbrepository/variables/lamp1_326 -d '{"varlocation":"pt3.26.desk1"}' -H 'Content-Type:"application/json"'
curl -X PUT http://localhost:7777/data/gbrepository/cellvariablesin/pt3.26.desk1 -d '{"lamp1_326":"lamp1_326"}' -H 'Content-Type:"application/json"'
curl -X PUT http://localhost:7777/data/gbrepository/sertypevariablesin/lamp -d '{"lamp1_326":"lamp1_326"}' -H 'Content-Type:"application/json"'
