div#wrapper {
    width: 80%;
    background-color:#FFFFFF;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border: thin solid #000000;
}

div#navmain {
    position:relative;
    clear:both;
}

div#nav {
    position:relative;
    width: 15%;
    padding: 10px;
    margin-top: 1px;
    float: left;
}

div#main {
    position:relative;
    margin-left: 20%;
    margin-top: 1px;
    padding: 10px;
}

div#footer {
    clear:both;
}

div#envvars {
    width: 44%;
    float:left;
}

div#envrules {
    width: 54%;
    float:right;
}

div#header {
    padding: 15px;
    margin: 0px;
    text-align: center;
}

.genErrorText {
    color: red;
}

div.warning {
    color: red;
    font-size:large;
}

a.navlink {
    font-size: large
}

img#headerlogo {
    float:left;
}

body {
    background-color: #66CD00;
    font-size:12px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}

span.vrinfo {
    font-size: large
}